@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 5rem;
}

.shadow-text {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  position: relative;
}

.shadow-text::after {
  content: attr(data-text); /* kopira tekst */
  position: absolute;
  top: 100%; /* senka ispod teksta */
  left: 0;
  color: lightgray; /* svetlosiva boja senke */
  transform: skewX(-45deg) scaleY(0.5);
  transform-origin: top left;
}
